// Colors

$c-primary: #536374;

$c-secondary:#005661;
$c-terteary:#1d1b67;

// Another color blue
// #5c82cc

//bk-primary
// #ffffff
// #46ccde --celeste
// #cdf9ff --verde claro


$c-btnF: #ffffff;
$c-btn: #1d1b67;

$c-links:#4c5d6e;





// fonts
$font-primary: 'Inter', sans-serif;

$w-xsm:300;
$w-sm: 400;
$w-xmd:400;
$w-md:500;
$w-xbg:600;
$w-bg:700;
$w-sbg:800;




// padding
$pd-sm: 1rem;
$pd-md: 1.25rem;
$pd-bg: 2.5rem;

// debug

$border: 1px solid red;