
@use 'abstracts/palette' as p;
@use 'abstracts/mixins' as m;


@use 'responsive/main-responsive' as r;



html {
    
    font-family: p.$font-primary;
    font-size: 62.5%;
    
}

body {
    @include m.pancke-stack();
    background-color: #fff;
}

.header {
   @include m.split-screen( 'main', 'img', center);

   .hero-content {
       grid-area: main;
       padding: 1.5rem;


       &__title {
           @include m.base-text(3.5rem, p.$w-bg, p.$c-terteary );
           margin-bottom: 0;
    
       }

       &__desc {
           @include m.base-text(1.6rem, p.$w-sm, p.$c-primary, start, 2.5rem);

       }

       .btns {
           display: flex;
           flex-direction: row;
           justify-content: flex-start;
           align-items: center;

           &__main {
               @include m.base-button(p.$c-btn, p.$c-btnF, p.$w-bg, 190px);
           }

           &__secondary{
               @include m.base-button(transparent, p.$c-primary, p.$w-bg, 130px);
           }
       }

       .footer {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            &__text {
                @include m.base-text(1.6rem, p.$w-sm, p.$c-primary);
                margin-bottom: 0;
                &--link {
                    font-weight: p.$w-bg;
                    text-decoration: underline;
                }
            }

            &__icon {
                margin-right: 1rem;
            }
       }
   }

   .hero-img {
       grid-area: img;
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 2.5rem 1.5rem;

       background-color: #46ccde;


    
       &__img {
           width: 100%;
           max-width: 500px;
           height: auto;
           object-fit: contain;
           object-position: center;
       }
   }
}



@include r.menu( 43em );
@include r.tablet( 43em );
@include r.desktop( 62em );